:root{
  --color-first :  #0066cb;
  --color-first-light :  #0065cb1e;

  --color-second :  #f8f8f8;
  --color-third :  #2f8f33;
  --color-fourth :  #f79a06;
  --color-five :  #DDA853;
  --color-mustdo : #edf0f5;
  --color-Moderatelly : #b1a192;
  --color-fun : #b6a190;
  --color-delegate : #d5dade;
  --color-fade : #d8d3cf;
  --color-light-orange : #ffac4786;
  --color-white : #fff;
  --color-love : #C71585  ;

}

