.top{
    height: 90vh;
    background-color: var(--color-white);
}
.middle{
    background-color: var(--color-white);
    /* height: 70vh;
    overflow: scroll;
    overflow-x: hidden; */
    padding-top: 0;
    margin-top: 1.6rem;
}
.bottom{
    height: 10vh;
    background-color: beige;
}
.topMost{
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}
.smallSVG{
    width: 2.4rem;
}
.head1{
    font-family: 'Pacifico';
    font-weight: 300;
}
.catagoryicon{
    width: 4.8rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 0.05rem solid var(--color-first);
}
.cataName{
    font-size: 1rem;
    font-weight: 500;
}
.catagory{
    margin-top: 1rem;
}
.catabtn{
    border: none;
    background: none;
    font-family: 'Montserrat';
    cursor: pointer;
}
.head2home{
    font-size: 1.2rem;
}
.linkmore{
    text-decoration: none;
    color: var(--color-first);
    font-size: 1.2rem;
}
.mockups{
    width: 100%;
}
.prod{
    border: 0.05rem solid var(--color-delegate);
    position: relative;
    overflow: hidden;
}
.banner{
    position: absolute;
    width: 20vh;
    height: 2vh;
    background-color: var(--color-first);
    transform: rotate(-45deg);
    top: 10%;
    left: -20%;
}
.bannerop{
    color: var(--color-white);
}
.loveprod{
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 50%;
    
}
.homelink{
    text-decoration: none;
    color: #000 !important;
}
.homecart{
    text-decoration: none;
    color: #000;
    position: relative;
}
.homecartCount{
    position: absolute;
    color: var(--color-white);
    background-color: var(--color-first);
}

.homehaed{
    text-align: center;
    font-family: 'Pacifico';
    font-size: 2.4rem;
    color: var(--color-first);
}
.loaderGr{
    grid-column: 1/3;
    height: 100%;
}

.newArrivals{
    position: relative;
}
.newArrLink{
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 40%;
    background-color: var(--color-white);
    animation: shadows 1s   infinite  ;
}
@keyframes shadows {
    0%{
    box-shadow: 0 0 2rem #0D0D0D;

    }
    25%{
    box-shadow: 0 0 2rem #1A1A40;

    }
    50%{
    box-shadow: 0 0 2rem #2C2C54;

    }
    75%{
    box-shadow: 0 0 2rem #3E2C41;

    }
    100%{
    box-shadow: 0 0 2rem #734F96;

    }
}
.newArrHead{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 2.8rem !important;
    z-index: 15;
}
.newarr{
    opacity: 0.7;
}
.noticfound{
    font-size: 1.6rem;
}
.top{
    position: relative;
}
.topslider{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}
.priority{
    z-index: 500;
}
.top{
    position: relative;
}
.exploreBtn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    background-color: var(--color-white);
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--color-first);
    font-weight: 600;
}

.hidden{
    display: none;
}
.lazyblur{
    /* background-color: var(--color-delegate); */
}

.bg-animate {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
  270deg,
  #d9d9d96e, /* soft light gray */
  #bfbfbf6e, /* medium gray */
  #a6a6a66e, /* balanced gray */
  #8c8c8c6e, /* darker gray */
  #7373736e  /* deep gray for depth */
);
  background-size: 1000% 1000%;
  animation: lazyBg 15s ease infinite;
}

@keyframes lazyBg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}